<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572793570031-2uamslr5p5ebn2qk4bq7r4r6bs8jvn8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572793570031-2uamslr5p5ebn2qk4bq7r4r6bs8jvn8h</string>
	<key>API_KEY</key>
	<string>AIzaSyAg_IFlHidEVFuCIb6BRu4JUUhOe8bqbHo</string>
	<key>GCM_SENDER_ID</key>
	<string>572793570031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomFullStack</string>
	<key>PROJECT_ID</key>
	<string>fullstack-zoom</string>
	<key>STORAGE_BUCKET</key>
	<string>fullstack-zoom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572793570031:ios:cad97874c792fccc70511a</string>
</dict>
</plist>